mat-sidenav-container {
  height: 100vh;

  mat-sidenav {
    border-right: 1px solid black;
    img {
      width: 33px;
      height: 33px;
    }
  }

  mat-toolbar {
    border-bottom: 1px solid black;
  }
}
