mat-sidenav-container {
  height: 100vh;

  mat-sidenav,
  mat-sidenav-content {
    transition: all 300ms ease-in-out;
  }

  mat-sidenav {
    mat-toolbar {
      button {
        img {
          width: 33px;
        }
      }
    }
  }

  mat-sidenav-content {
    .pages__container {
      padding: 15px 8px;
    }
  }
}
