/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h3 {
  margin: 0;
}

.row {
  display: flex;
  align-items: center;
  gap: 8px;
}

.stat {
  font-size: 24px;
  margin: 0;
}

.stat-subtext {
  font-size: 14px;
}

.text-green {
  color: #03c03c;
}

$custom-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      use-system-variables: true,
    ),
  )
);
